/* You can add global styles to this file, and also import other style files */
@use './../node_modules/@angular/material' as mat;
@include mat.core();

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.dark-theme {
  --bg-color: #121212;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  color-scheme: light;
  height: 100%;
  @include mat.theme((
    color: mat.$orange-palette,
    tertiary: mat.$cyan-palette,
    typography: Roboto,
    density: 0
  ));
}

body.dark-theme {
  color-scheme: dark;
}